<div class="container">
<h1>Cart</h1>
<div id="cart">
{{#if products.length}}
    <table class="flow-text">
        <thead>
            <tr>
                <th>product name</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr id="cart-position-{{id}}">
                <td >{{title}}</td>
                    <td>
                        <span class="valign-wrapper">
                            <a class="btn-floating btn-small waves-effect waves-light"><i class="material-icons minus cart-icons" data-id="{{id}}">remove</i></a>
                                <span id="count-{{id}}"> {{count}}</span>
                            <a class="btn-floating btn-small waves-effect waves-light"><i class="material-icons plus cart-icons" data-id="{{id}}">add</i></a>
                        </span>
                    </td>       
                <td>
                    <button class="btn btm-small js-remove" data-id="{{id}}">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p><strong>Price:</strong><span class="price">{{price}}</span></p>

    <form action="/orders" method="POST">
        <button type="submit" class="btn" >Order</button>
    </form>
{{else}}
<p>Cart is empty</p>
{{/if}}
</div>
</div>

<script src="http://localhost:3000/js/cart.js" ></script>