<div class="container">
<h1>Incoming orders</h1>

  
{{#if incOrders.length}}
    {{#each incOrders}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            order <small>{{_id}}</small>
                        </span>
                        <p class="date">{{date}}</p>
                        <p><em>{{user.userId.name}}</em>({{user.userId.email}})</p>
                        <ol>
                            {{#each products}}
                                <li >
                                    {{product.title}} (x<strong>{{count}}</strong>)
                                </li>
                                {{!-- <div class="switch">
                                    <label>
                                    Reject
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    Submit
                                    </label>
                                </div> --}}
                            {{/each}}
                        </ol>
                        <hr>
                        <div class = "product-info">
                            <p>Price: <span class="price">{{price}}</span></p>
                            <p>Status: <span>{{status}}</span></p>
                                <button type="submit" class="btn btn-primary green" onclick = acceptOrder('{{_id}}')>Accept</button>
                                <button type="submit" class="btn btn-primary red" onclick = rejectOrder('{{_id}}')>Reject</button>
                        </div>

                    </div>
                    {{!-- todo add callbacks --}}
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>You do not have any orders</p>
{{/if}}
</div>
<script src="http://localhost:3000/js/incomingOrders.js" ></script>