
    {{> navbar}}

    <div class="row">
        
        <div class = "col s4">
            <h5>{{product.title}}</h5>

            <div class="carousel carousel-slider">    
                {{#each product.img}}
                <a class="carousel-item"><img src="/media/{{filename}}"></a>
                {{/each}}
            </div>  
            </p>        
        </div>
        <div class="row">
            <div class="col s7">
                <div class="row">
                    <div class="col s5">
                        <div class="row info-pannel">
                            <div class = "col s5">
                                
                            <h5>Ціна: <span class="price big">{{product.price}}</span></h2>
                            
                                <form action="/cart/add" method="POST">
                                    <input type="hidden" name="id" value="{{id}}">
                                    <button type="submit" class="btn btn-primary pulse offset-s4">Купити</button>
                                </form>
                            </div>
                            <div class="col s12 ">
                                <div class="card-panel blue lighten-4">
                                    <span >{{product.about}}</span>
                                </div>
                            </div>
                            
                        </div>
                        <span>Зв'яжіться з продавцем</span>                                
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="http://localhost:3000/js/product.js" type="application/javascript" ></script>
