<div class="container">
<h1>Cart</h1>
<div id="cart">
{{#if products.length}}
    <table>
        <thead>
            <tr>
                <th>product name</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{title}}</td>
                <td>
                    <div class="plus medium material-icons">remove_circle_outline</div>
                    {{count}}
                    <div class="minus medium material-icons">add_circle_outline</div>
                </td>
                <td>
                    <button class="btn btm-small js-remove" data-id="{{id}}">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p><strong>Price:</strong><span class="price">{{price}}</span></p>

    <form action="/orders" method="POST">
        <button type="submit" class="btn" >Order</button>
    </form>
{{else}}
<p>Cart is empty</p>
{{/if}}
</div>
</div>